<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/insert.css">
</head>
<body>
    <div>
        <p class="ex1"><b><h1>
            Modify department
            </h1>
            </b>
        </p>
        <form method="post">
            <label for="department_name">Department name:</label><br>
            <input type="text" id="department_name" name="department_name" class="input-field"><br>
            <label for="manager_last_name">Manager last name:</label><br>
            <input type="text" id="manager_last_name" name="manager_last_name" class="input-field"><br>
            <label for="manager_first_name">Manager first name:</label><br>
            <input type="text" id="manager_first_name" name="manager_first_name" class="input-field"><br>
            <br>
            <button type="submit" class="submit-button">Modify</button>
        </form>
        <a href="../afisare_departament" class="highlight-dept">
            <h2 class="back-button"> Inapoi </h2>
        </a>
    </div>
</body>
</html>
