<!-- branch.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Branch</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/insert.css">
    <style>
        body {
            background-color: #d4edda; /* Verde pal */
        }
        .highlight-dept {
            color: #FF0000;
            cursor: pointer;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="flex-container">
        <form action="/branch/branch_insert" method="post">
            <p class="ex1"><b><h1>Branch</h1></b></p>
            <label for="dept_input">Choose a department:</label>
            <select id="dept_input" name="dept" required>
                {% for dept in departments %}
                <option value="{{dept[0]}}">
                    {{dept[1]}}
                </option>
                {% endfor %}
            </select><br>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname"><br>
            <label for="pos">Position:</label><br>
            <input type="text" id="pos" name="pos"><br>
            <label for="salary">Salary:</label><br>
            <input type="text" id="salary" name="salary"><br>
            <label for="hire_date">Hire date:</label><br>
            <input type="text" id="hire_date" name="hire_date"><br>
            <br>
            <button type="submit">Submit</button>
            <br>
            <br>
        </form>
        <a href="/branch/afisare_branch" class="highlight-dept">Afisare branch</a>
        <br>
        <a href="/menu">
            <h2> Inapoi </h2>
        </a>
    </div>
</body>
</html>
