<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify doctor</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/insert.css">
    <style>
        body {
    background-color: #FFD3D3;
    }
    </style>
</head>
<body>
    <div class="content-container">
        <p class="ex1"><b><h1>Modify doctor</h1></b></p>
        <form method="post">
            <label for="dept_input">Choose a department:</label>
            <select id="dept_input" name="dept" required>
                {% for dept in departments %}
                <option value="{{dept[0]}}">
                    {{dept[1]}}
                </option>
                {% endfor %}
            </select><br>
            <label for="doctor_last_name">Doctor last name:</label><br>
            <input type="text" id="doctor_last_name" name="doctor_last_name"><br>
            <label for="doctor_first_name">Doctor first name:</label><br>
            <input type="text" id="doctor_first_name" name="doctor_first_name"><br>
            <label for="hire_date">Hire date:</label><br>
            <input type="text" id="hire_date" name="hire_date"><br>
            <label for="salary">Salary:</label><br>
            <input type="text" id="salary" name="salary"><br>
            <button type="submit">Modify</button>
        </form>
        <a href="/doctors/afisare_doctori">
            <h2> Inapoi </h2>
        </a>
    </div>
</body>
</html>
