<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Afisare medicamente</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/afisare.css">
    <style>
        body {
    background-color: #ffeeba;
    }
    </style>
</head>
<body>
    <p class="ex1"><b><h1>
        Afisare medicamente
        </h1>
        </b>
    </p>
    <table>
        <tr>
            <th>Department name</th>
            <th>Drug name</th>
            <th>Available for use</th>
            <th>Manufacturer</th>
            <th>Side effects</th>
            <th>Price</th>
            <th>Delete/Modify</th>
        </tr>
        {% for obj in date %}
        <tr>
            <td>
                {{obj[6]}}
            </td>
            <td>
                {{obj[1]}}
            </td>
            <td>
                {{obj[2]}}
            </td>
            <td>
                {{obj[4]}}
            </td>
            <td>
                {{obj[7]}}
            </td>
            <td>
                {{obj[8]}}
            </td>
            <td>
                <a href="delete_drugs/{{obj[0]}}">Delete</a><br>
                <a href="modify_drugs/{{obj[0]}}">Modify</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="insert_drugs">
        <h2> Inapoi </h2>
    </a>
</body>
</html>