<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify drug</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/insert.css">
    <style>
        body {
    background-color: #ffeeba;
    }
    </style>
</head>
<body>
    <div class="content-container">
        <p class="ex1"><b><h1>Modify drug</h1></b></p>
        <form method="post">
            <label for="dept_input">Choose a department:</label>
            <select id="dept_input" name="dept" required>
                {% for dept in departments %}
                <option value="{{dept[0]}}">
                    {{dept[1]}}
                </option>
                {% endfor %}
            </select><br>
            <label for="name">Drug name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="afu">Available for use:</label><br>
            <input type="text" id="afu" name="afu"><br>
            <label for="man">Manufacturer:</label><br>
            <input type="text" id="man" name="man"><br>
            <label for="side_effects">Side effects:</label><br>
            <input type="text" id="side_effects" name="side_effects"><br>
            <label for="price">Price:</label><br>
            <input type="text" id="price" name="price"><br>
            <button type="submit">Modify</button>
        </form>
        <a href="/drugs/afisare_drugs">
            <h2> Inapoi </h2>
        </a>
    </div>
</body>
</html>
