<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify medical equipment</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/insert.css">
    <style>
        body {
    background-color: #f4e4eb;
    }
    </style>
</head>
<body>
    <div class="form-container">
        <h1>Modify medical equipment</h1>
        <form method="post">
            <label for="dept_input">Choose a department:</label>
            <select id="dept_input" name="dept" required>
                {% for dept in departments %}
                <option value="{{dept[0]}}">
                    {{dept[1]}}
                </option>
                {% endfor %}
            </select><br>
            <label for="name">Equipment name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="afu">Available for use:</label><br>
            <input type="text" id="afu" name="afu"><br>
            <br>
            <button type="submit">Modify</button>
        </form>
        <a href="/medical/afisare_medical">
            <h2> Inapoi </h2>
        </a>
    </div>
</body>
</html>
