<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="../static/css/menu.css">
</head>
<body>
    <nav>
        <a href="/departments/index_dept">
            <h1>Departments</h1>
        </a>
        <a href="/doctors/doctors_insert">
            <h1>Doctors</h1>
        </a>
        <a href="/nurses/nurses_insert">
            <h1>Nurses</h1>
        </a>
        <a href="/patients/patients_insert">
            <h1>Patients</h1>
        </a>
        <a href="/patient_history/history_insert">
            <h1>Patient history</h1>
        </a>
        <a href="/branch/branch_insert">
            <h1>Branch</h1>
        </a>
        <a href="/drugs/insert_drugs">
            <h1>Drugs</h1>
        </a>
        <a href="/medical/med_insert">
            <h1>Medical equipment</h1>
        </a>
        <a href="/trans/insert_trans">
            <h1>Drug transactions</h1>
        </a>
        <a href="/inventory/insert_inv">
            <h1>Inventory equipment</h1>
        </a>
    </nav>
    <img class="logo-img" src="../static/images/menu.jpg" alt="Logo Image">
    <a href="/">
        <h2>Inapoi</h2>
    </a>
</body>
</html>
